---
import ExperienceIcon from "./icons/ExperienceIcon.astro"
import ExperienceCard from "./ExperienceCard.astro";
import esakiImage from "../../public/esaki.webp";
import akademosUci from "../../public/uci.webp";

const experienceCards = [
    {
        image: esakiImage,
        title: "Es Aki Backend System",
        category: "E-Commerce",
        description: "System built on Nestjs with Payments integration, OAuth, and a custom admin panel.",
        url: "https://esaki-jrr.com",
        team: "Startup",
    },
    {
        image: akademosUci,
        title: "Akademos",
        category: "Student managment",
        description: "Development of modules for the Academic Management System at the University of Informatics Sciences, Cuba.",
        team: "Enterprise",
    },
]
---

<section id="experience" class="container mx-auto px-4">
    <div class="flex items-center justify-center gap-4 mb-6">
        <ExperienceIcon class="w-10 h-10" />
        <h1 class="text-4xl font-bold text-gray-100">
            Experience
        </h1>
    </div>
    <div class="flex flex-col md:flex-row md:flex-wrap md:justify-center gap-6 px-4 mt-3">
        {
            experienceCards.map((card) => (
                    <ExperienceCard
                            image={card.image}
                            title={card.title}
                            category={card.category}
                            description={card.description}
                            team={card.team}
                            url={card.url}
                    />
            ))
        }
    </div>
</section>