---
import { Image } from 'astro:assets';
import ExperienceIcon from "./icons/ExperienceIcon.astro"
import ExperienceCard from "./ExperienceCard.astro";
import esakiImage from "../../public/esaki.png";

const experienceCards = [
    {
        image: esakiImage,
        title: "Es Aki Backend System",
        category: "E-Commerce",
        description: "System built on Nestjs with Payments integration, OAuth, and a custom admin panel.",
        url: "https://esaki-jrr.com",
    },
]
---

<section id="experience" class="container mx-auto px-4">
    <div class="flex items-center justify-center gap-4 mb-6">
        <ExperienceIcon class="w-10 h-10" />
        <h1 class="text-4xl font-bold text-gray-100">
            Experience
        </h1>
    </div>
    <div class="flex justify-center px-4 mt-3">
        {
            experienceCards.map((card) => (
                <ExperienceCard
                    image={card.image}
                    title={card.title}
                    category={card.category}
                    description={card.description}
                    url={card.url}
                />
            ))
        }
    </div>
</section>